# AquaPV Toolset

**Modules Avalable**
1) Floating solar generation tool
2) CAPEX estimation tool
3) Techno-economic analysis tool

## Floating solar generation

In [2]:
from src.Solar import getSolarGen

PV_gen = getSolarGen(
    zipcode=34785, 
    size=1, 
    dc_ac_ratio=1.3, 
    efficiency=90, 
    tilt=10, 
    num_years=1
    )

PV_gen

Date
2020-01-01 00:00:00    0.00000
2020-01-01 01:00:00    0.00000
2020-01-01 02:00:00    0.00000
2020-01-01 03:00:00    0.00000
2020-01-01 04:00:00    0.00000
                        ...
2020-12-31 19:00:00    0.29468
2020-12-31 20:00:00    0.16277
2020-12-31 21:00:00    0.09980
2020-12-31 22:00:00    0.04032
2020-12-31 23:00:00    0.00000
Freq: 60min, Name: Solar Generation (MW), Length: 8784, dtype: float64

## CAPEX tool

In [4]:
from src.CAPEX import *

CAPEX = get_CAPEX(
    project_size_MW_DC=1,
    DC_AC_conversion=1.3,
    tilt=12,
    module_wattage_DC=600,
    module_price_watt_DC=.31,
    inverter_price_watt_DC=.04,
    average_distance_to_shore_ft=100,
    sales_tax_percent=6,
    substation_upgrade_YES_or_NO="NO",
    grid_connection_voltage_kV=167,
    )

CAPEX

                       Cost $/W_dc    Total Cost Hard/Soft Cost
CAPEX
Racking                   0.449715  4.497147e+05      Hard Cost
Overhead and Profit       0.369746  3.697462e+05      Soft Cost
Solar Panels              0.252769  3.286000e+05      Hard Cost
Install Labor             0.290059  2.900592e+05      Soft Cost
General Construction      0.153373  1.533728e+05      Soft Cost
Gen-Tie                   0.100581  1.005807e+05      Hard Cost
Asset Management          0.093873  9.387302e+04      Soft Cost
AC EBOS                   0.091198  9.119763e+04      Hard Cost
Inverter                  0.032615  4.240000e+04      Hard Cost
DC EBOS                   0.041885  4.188542e+04      Hard Cost
Anchoring and Mooring     0.038308  3.830769e+04      Hard Cost
Engineering               0.008580  8.579882e+03      Soft Cost
Substation                0.000000  0.000000e+00      Hard Cost
Project Cost              1.922702  2.008317e+06     Total Cost

## Techno-economic analysis

In [2]:
# Import the module
from src.AquaPV import *

# Create an AquaPV object with defined data files
demo = AquaPV(
    name="Demo System",
    solar_file="example_data/CAISO_PV_gen.csv", 
    price_file="example_data/CAISO_price.csv"
    )

# Look at some of the information of the object
print(demo)

**************************************************
Demo System:
**************************************************
Capital expense ($):
	High: $1,050,000
	Baseline: $1,000,000
	Low: $950,000

Operational expense ($/year):
	High: 1,050
	Baseline: 1,000
	Low: 950

Tax incentives:
	ITC: 30%
	PTC: 2.75 cents/kW

Other:
	Annual discount rate: 0.05
	Project lifetime: 30 years
**************************************************

In [6]:
demo.get_LCOE()

      CAPEX      OPEX        ITC        PTC       None
1       Low       Low  24.331167  21.502409  35.302137
2       Low  Baseline  24.360679  21.531921  35.331649
3       Low      High  24.390192  21.561433  35.361161
4  Baseline       Low  26.159662  23.330904  37.130632
5  Baseline  Baseline  26.189174  23.360416  37.160144
6  Baseline      High  26.218687  23.389928  37.189656
7      High       Low  27.988157  25.159399  38.959127
8      High  Baseline  28.017669  25.188911  38.988639
9      High      High  28.047182  25.218423  39.018151